.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  height: 76px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #111111;
  text-decoration: none;
  letter-spacing: -1px;
}

.logo span {
  color: #f97316;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-dropdown {
  position: relative;
}

.nav-item {
  border: none;
  background: transparent;
  color: #222222;

  font-size: 15px;
  font-weight: 500;

  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s ease;
}

.nav-item:hover {
  background: #fff7ed;
  color: #f97316;
}

.arrow {
  margin-left: 6px;
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  width: 220px;
  padding: 8px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 12px;

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.dropdown-menu a {
  display: block;

  padding: 11px 13px;
  border-radius: 8px;

  color: #333333;
  text-decoration: none;
  font-size: 14px;

  transition: 0.2s ease;
}

.dropdown-menu a:hover {
  background: #fff7ed;
  color: #f97316;
}

.login-link {
  color: #222222;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  padding: 10px 14px;
  border-radius: 8px;

  transition: 0.25s ease;
}

.login-link:hover {
  color: #f97316;
  background: #fff7ed;
}

.nav-cta {
  text-decoration: none;
  background: #f97316;
  color: #ffffff;

  padding: 11px 19px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;

  transition: 0.25s ease;
}

.nav-cta:hover {
  background: #fff7ed;
  color: #f97316;
  box-shadow: inset 0 0 0 1px #f97316;
}

.mobile-menu-btn {
  display: none;

  border: none;
  background: transparent;
  font-size: 26px;
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .navbar-container {
    height: 68px;
  }

  .mobile-menu-btn {
    display: block;
  }

  .nav-links {
    display: none;

    position: absolute;
    top: 68px;
    left: 0;

    width: 100%;

    padding: 15px 20px 25px;

    background: #ffffff;
    border-bottom: 1px solid #eeeeee;

    flex-direction: column;
    align-items: stretch;
  }

  .nav-links.mobile-open {
    display: flex;
  }

  .nav-dropdown {
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: left;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    margin-top: 4px;

    box-shadow: none;
    border: none;
    background: #fffaf5;
  }

  .login-link {
    display: block;
  }

  .nav-cta {
    text-align: center;
    margin-top: 5px;
  }
}