.products-section {
  padding: 100px 24px;
  background: #fafafa;
}

.section-container {
  max-width: 1200px;
  margin: auto;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: end;

  gap: 50px;
  margin-bottom: 45px;
}

.section-tag {
  color: #f97316;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.section-heading h2 {
  max-width: 650px;

  margin: 10px 0 0;

  color: #111111;
  font-size: clamp(36px, 5vw, 54px);
  line-height: 1.1;
  letter-spacing: -2px;
}

.section-heading h2 span {
  color: #f97316;
}

.section-heading>p {
  max-width: 330px;

  margin: 0;

  color: #777777;
  font-size: 15px;
  line-height: 1.7;
}

.products-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.product-card {
  padding: 28px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 17px;

  text-decoration: none;
  color: inherit;

  transition: 0.3s ease;
}

.product-card:hover {
  background: #fff7ed;
  border-color: #fed7aa;

  transform: translateY(-6px);

  box-shadow: 0 18px 40px rgba(249, 115, 22, 0.08);
}

.product-icon {
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff7ed;
  border-radius: 14px;

  font-size: 25px;
}

.product-card h3 {
  margin: 23px 0 10px;

  font-size: 19px;
  color: #151515;
}

.product-card p {
  margin: 0;

  min-height: 72px;

  color: #777777;
  font-size: 14px;
  line-height: 1.65;
}

.product-link {
  display: block;

  margin-top: 22px;

  color: #f97316;
  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 900px) {
  .section-heading {
    align-items: start;
    flex-direction: column;
    gap: 15px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-section {
    padding: 75px 18px;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }
}